<footer class="text-center">
    <p>Find me at:</p>
    <div class="copyright">
        <div class="social-icons">
            <a href="https://dribbble.com/HHristova" target="_blank">
                <i class="fab fa-dribbble social-icons__db" aria-hidden="true"></i>
            </a>
            <a href="https://www.behance.net/hhristova" target="_blank">
                <i class="fab fa-behance social-icons__bh" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/hhristova_/" target="_blank">
                <i class="fab fa-instagram social-icons__inst" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/HHristova" target="_blank">
                <i class="fab fa-github social-icons__gh" aria-hidden="true"></i>
            </a>
        </div>
        <div class="copyright__box">
            © <span class="year"></span>
            <a href="http://www.hhristova.com">Hristina Hristova</a>.
            All rights reserved.
        </div>
    </div>
</footer>
