@font-face {
    font-family: 'ding_dong';
    src: url('fonts/dngDng/ding_dong_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ding_dong_extras';
    src: url('fonts/dngDng/ding_dong_extras.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rockness';
    src: url('fonts/rockness.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
