.contact-me {
    margin: auto;
    width: 100%;

    @include media-breakpoint-up(md) {
        width: 70%;
    }

    @include media-breakpoint-up(lg) {
        width: 40%;
    }
}

#instafeed {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 15px;

    @include media-breakpoint-up(xl) {
        padding: 30px 0 15px;
    }

    a {
        flex-basis: calc(50% - 10px);
        margin: 0 5px;
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }

    img {
        max-height: 162px;

        @include media-breakpoint-up(xl) {
            max-height: 306px;
        }
    }

    img, p {
        max-width: 100%;
    }

    p {
        margin-top: 10px;
        @include lines-of-text;
        font-size: 0.7rem;
        line-height: normal;
    }

    @include media-breakpoint-up(md) {
        a {
            margin: 0 10px;
            flex-basis: calc(50% - 20px);
        }
    }

    @include media-breakpoint-up(lg) {
        a {
            flex-basis: calc(25% - 20px);
        }
    }
}

.ig-btn-wrapper {
    padding-bottom: 40px;
}

footer {
    position: relative;
    padding: 30px 15px;
    margin-top: 180px;
    font-size: 0.8rem;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: -205px;
        right: 10px;
        left: auto;
        margin: auto;
        width: 200px;
        height: 100%;
        background-image: url('images/footer-little-princess.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    @include media-breakpoint-up(md) {
        padding: 80px 15px;
        margin-top: 200px;

        &:before {
            right: 50px;
            width: 230px;
            top: -270px;
        }
    }

    @include media-breakpoint-up(xl) {
        margin-top: 60px;

        &:before {
            right: 150px;
        }
    }

    a:hover {
        text-decoration: none;
    }

    .copyright__box {
        margin-top: 15px;
    }

    .social-icons {
        text-align: center;

        [class*='social-icons__'] {
            font-size: 1.5rem;
            margin: 0 15px;
            transition: color 0.1s ease-in-out;

            @include media-breakpoint-up(md) {
                margin: 0 20px;
            }
        }
    }
}
