.contact-me {
    margin: auto;
    width: 100%;

    @include media-breakpoint-up(md) {
        width: 70%;
    }

    @include media-breakpoint-up(lg) {
        width: 40%;
    }
}

footer {
    padding: 80px 15px;
    margin-top: 60px;
    font-size: 0.8rem;

    a:hover {
        text-decoration: none;
    }

    .copyright__box {
        margin-top: 15px;
    }

    .social-icons {
        text-align: center;

        [class*='social-icons__'] {
            font-size: 1.5rem;
            margin: 0 20px;
            transition: color 0.1s ease-in-out;
        }
    }
}
