header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: all 0.3s ease-in-out;
    background-color: $blue-summer;
}

.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
}

.nav-item {
    padding: 10px 15px;
    line-height: 28px;

    @include media-breakpoint-up(md) {
        font-weight: 700;
    }

    @include large-desktop() {
        padding: 15px 25px;
    }
}

header {
    .navbar-dark .navbar-nav .nav-link {
        color: $blue-darken;
    }

    .navbar-dark .navbar-nav .nav-link.active,
    .navbar-dark .navbar-nav .nav-link:hover {
        color: mix($black, $blue-darken, 35%);
    }

    .navbar-dark .navbar-toggler {
        color: rgba($white, 1);
    }
}

.logo {
    > img {
        width: 40px;

        @include large-desktop() {
            width: 50px;
        }
    }
}
