header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
}

.nav-item {
    padding: 10px 15px;
    line-height: 28px;

    @include media-breakpoint-up(md) {
        font-weight: 700;
    }

    @include large-desktop() {
        padding: 15px 25px;
    }
}

.logo {
    > img {
        width: 40px;

        @include large-desktop() {
            width: 50px;
        }
    }
}
