@mixin large-desktop {
    @media (min-width: 1500px) {
        @content;
    }
}

@mixin huge-desktop {
    @media (min-width: 1920px) {
        @content;
    }
}

@mixin lines-of-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}
