// Main color palette
$winter: #75c3e8;
$winter-darken: mix(#000, $winter, 50%);
$spring: #A0EAE9;
$spring-darken: mix(#000, $spring, 50%);
$summer: #B5F2F2;
$summer-darken: mix(#000, $summer, 50%);
$autumn: #F2C7AA;
$autumn-darken: #A16253;
$plain-color: #fff;
$border-color: #ddd;
$blog-background: #f9f1eb;

// Describe the specific google fonts properties
$theme-font-family: 'Nunito' !default;
$theme-font-weights: '300,400,500,600,700,800' !default;
$theme-font-languages: null !default;

// Default logo of the project
$seasonTitle: 'winter' !default;

// Change logo image depending on the season of the project
@function setLogo($seasonTitle) {
    @if ($seasonTitle == 'winter') {
        @return 'images/logo-hhristova.png';
    } @if ($seasonTitle == 'spring') {
        @return 'images/logo-hhristova-spring.png';
    }  @if ($seasonTitle == 'summer') {
        @return 'images/logo-hhristova-summer.png';
    } @if ($seasonTitle == 'autumn') {
        @return 'images/logo-hhristova--autumn.png';
    }
}
