// Main color palette
$blue: #75c3e8;
$blue-darken: #3d7c96;
$plain-color: #fff;

// Describe the specific google fonts properties
$theme-font-family: 'Nunito' !default;
$theme-font-weights: '300,400,500,600,700,800' !default;
$theme-font-languages: null !default;
