@import 'variables.scss';
@import 'keyframes.scss';
@import 'mixins.scss';
@import 'fonts.scss';

$fa-font-path:  'fonts' !default;
@import '~@fortawesome/fontawesome-free-webfonts/scss/fontawesome';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-regular';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-solid';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-brands';

@import "~bootstrap/scss/bootstrap";
@import '~sass-google-fonts/src/GoogleFonts.scss';
@include google-font($theme-font-family, $theme-font-weights, $theme-font-languages);
@import 'header.scss';
@import 'footer.scss';
@import 'ui-designs.scss';
@import 'blog.scss';
@import 'illustration-projects.scss';
@import 'ui-inner.scss';
@import 'links.scss';

html, body {
    font-size: 21px;
    font-family: $theme-font-family, sans-serif;
    font-weight: $theme-font-weights;
    line-height: 30px;
}

.no-found-wrapper {
    width: 100%;

    @include media-breakpoint-up(md) {
        width: 70%;
    }
}

.mt-bg {
    margin-top: 4.5rem;

    @include media-breakpoint-up(xl) {
        margin-top: 6rem;
    }
}

.w-40 {
    width: 100%;

    @include media-breakpoint-up(sm) {
        width: 40%;
    }
}

.empty-state {
    color: mix($black, $border-color, 35%);
}

.container {
    @include media-breakpoint-up(xl) {
        max-width: 90%;
    }
}

// {{ Season specified styles

@mixin set-hero-images($season) {
    .hero-img.hero-img--about {
        background: url('images/hero-#{$season}.svg') no-repeat center center;
    }

    .hero-img.hero-img--work {
        background: url('images/hero-#{$season}-work.svg') no-repeat center center;
    }

    .hero-img.hero-img--illustrations {
        background: url('images/hero-#{$season}-illustrations.svg') no-repeat center center;
    }

    .hero-img.hero-img--links {
        background: url('images/hero-#{$season}-links.svg') no-repeat center center;
    }
}

@mixin set-season-colors($season, $secondary, $secondary-rgb) {
    header {
        background-color: $season;

        .navbar-dark .navbar-toggler {
            color: rgba($secondary, 1);
        }
    }

    a:not(.btn),
    .flex-skills .about-me__content,
    .blog-title, .blogpost-subtitle {
        color: $secondary;
    }

    .scroll-down {
        background-color: $season;
    }

    .navbar-dark .navbar-nav .nav-link.active,
    .navbar-dark .navbar-nav .nav-link:hover {
        color: mix($black, $secondary, 35%);
    }

    .copyright__box a {
        border-bottom: 1px solid $secondary;

        &:hover {
            color: darken($secondary, 30%);
        }
    }

    .social-icons {
        [class*='social-icons__'] {
            color: $secondary;

            &:hover {
                color: darken($secondary, 30%);
            }
        }
    }

    .btn--contact {
        background-color: mix($white, $season, 60%);
    }

    .btn {
        &.active {
            background: mix($white, $season, 30%);
        }
    }

    .navbar-dark .navbar-toggler {
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(#{$secondary-rgb}, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }

    header .navbar-dark .navbar-nav .nav-link, .hero-img__subtitle,
    footer, .copyright__box a, .section.section--blue h1, .section__container__title,
    .project-title, .hero-dropdown .dropdown-item, .hero-dropdown .btn, .about__content--subtitle, .project-subtitle {
        color: $secondary;
    }

    footer {
        background-color: $season;
    }
}

body {
    &.--spring {
        $seasonTitle: 'spring';
        @include set-hero-images('spring');
        @include set-season-colors($spring, $spring-darken, '82, 125, 59');

        .logo { background-image: url(setLogo($seasonTitle)); }
    }

    &.--summer {
        $seasonTitle: 'summer';
        @include set-hero-images('summer');
        @include set-season-colors($summer, $summer-darken, '94, 172, 194');

        .logo { background-image: url(setLogo($seasonTitle)); }
    }

    &.--autumn {
        $seasonTitle: 'autumn';
        @include set-hero-images('autumn');
        @include set-season-colors($autumn, $autumn-darken, '161, 98, 63');

        .logo { background-image: url(setLogo($seasonTitle)); }
    }

    &.--winter {
        $seasonTitle: 'winter';
        @include set-hero-images('winter');
        @include set-season-colors($winter, $winter-darken, '94, 156, 186');

        .logo { background-image: url(setLogo($seasonTitle)); }
    }
}

// }}

// {{ Main header - hero image

.main-header {
    position: relative;
    margin-top: 0;
    transition: all, 0.3s ease;
}

.hero-img {
    width: 100%;
    height: 80%;
    background-size: cover !important;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($black, 0.05);
    }

    @include media-breakpoint-up(sm) {
        height: 100%;
    }

    &.hero-img--work, &.hero-img--illustrations,
    &.hero-img--links {
        height: 50%;
    }
}

.hero-img__subtitle {
    padding-top: 22vh;
    font-size: 1.3rem;

    @include media-breakpoint-up(sm) {
        padding-top: 26vh;
        font-size: 2rem;
    }

    @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
        font-size: 1.3rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: 1.3rem;
    }

    @include large-desktop {
        font-size: 2rem;
    }
}

.hero-dropdown {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    &.btn-group .btn {
        border: none;
        font-size: 0.8rem;
        background-color: rgba($plain-color, 0.5);

        @include media-breakpoint-up(lg) {
            font-size: 0.6rem;
        }
    }

    .dropdown-menu {
        font-size: 0.8rem;
        padding: 0.25rem 0;
        border: none;
        background-color: rgba($plain-color, 0.95);

        @include media-breakpoint-up(sm) {
            min-width: 8rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 0.6rem;
        }
    }

    .dropdown-item {
        padding: 0.2rem 0.5rem;

        &:hover {
            background-color: rgba($plain-color, 0.5);
        }

        &:active {
            background-color: mix($black, $white, 15%);
        }

        span {
            opacity: 0.9;
            float: right;
        }
    }
}

// }}

.section {
    // padding: 30px 0.5rem;
    font-size: 0.9rem;

    @include media-breakpoint-up(lg) {
        padding: 30px;
    }
}

.max-chars {
    max-width: 75ch;
    margin: auto;
}

.m-neg {
    margin-left: -1rem;
}

.section__container__title {
    margin-bottom: 20px;
    font-size: 4rem;
    font-weight: 500;
    position: relative;
    font-family: 'ding_dong';

    &.section__container__title--sm {
        font-size: 1.3rem;

        @include media-breakpoint-up(md) {
            font-size: 2rem;
        }
    }
}

// {{ About me

.about-me {
    flex-wrap: wrap;
    position: relative;

    @include media-breakpoint-up(lg) {
        flex-wrap: nowrap;
    }
}

.about-me__image, .about-me__content {
    flex: 0 1 100%;

    @include media-breakpoint-up(md) {
        flex: 1 1 auto;
    }
}

.about-me__content {
    flex: none;
    width: 60%;
    margin-left: 2em;

    &.about-me__content--weight {
        font-weight: 700;
    }
}

.about-me-wrapper {
    display: block;
    flex: none;
    width: 40%;
    margin-left: -9%;
}

.about-me__image {
    display: block;
    width: 100%;
    height: 700px;
    background: url('images/hhristova-img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

@include media-breakpoint-down(md) {
    .about-me-wrapper {
        width: 100%;
        margin-left: 0;
    }

    .about-me__image {
        height: 300px;
        width: 300px;
        margin: auto;
    }

    .about-me__content {
        width: 100%;
        margin-left: 0;
    }
}

@include media-breakpoint-down(sm) {
    .about-me__image {
        height: 350px;
        width: 100%;
    }
}

.skills-image {
    &.skills-image--width {
        width: 100%;
        margin: auto;

        @include media-breakpoint-only(sm) {
            width: 60%;
        }

        img {
            max-width: 200px;

            @include media-breakpoint-up(sm) {
                max-width: 100%;
            }

            @include media-breakpoint-up(xl) {
                max-width: 250px;
            }
        }
    }
}

.about-me__image, .skills-image {
    img {
        max-width: 100%;
        margin: auto;
        border-radius: 50%;

        @include media-breakpoint-up(md) {
            max-width: 250px;
        }
    }
}

.flex-skills {
    flex: 1 0 51%;

    @include media-breakpoint-up(md) {
        flex-basis: calc(33% - 2rem);
    }
}

.btn-group .btn {
    border: 1px solid $border-color;
}

.btn {
    &:focus {
        box-shadow: none;
    }
}

.btn--contact {
    .fa {
        margin-right: 5px;
    }
}

.contact-img {
    width: 100%;
    max-width: 500px;
}

// }}

.separator {
    width: 20%;
    height: 2px;
    margin: 40px auto;
    background-color: #eee;
}
