@import 'variables.scss';
@import 'keyframes.scss';
@import 'mixins.scss';

$fa-font-path:  'fonts' !default;
@import '~@fortawesome/fontawesome-free-webfonts/scss/fontawesome';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-regular';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-solid';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-brands';

@import '~sass-google-fonts/src/GoogleFonts.scss';
@include google-font($theme-font-family, $theme-font-weights, $theme-font-languages);
@import 'header.scss';
@import 'footer.scss';
@import 'work.scss';
@import "~bootstrap/scss/bootstrap";

html, body {
    font-size: 21px;
    font-family: $theme-font-family, sans-serif;
    font-weight: $theme-font-weights;
}

// {{ Main header - hero image

.main-header {
    position: relative;
    margin-top: 0;
    transition: all, 0.3s ease;
}

.hero-img {
    width: 100%;
    height: 100%;
    background-size: cover !important;

    @include responsive-tablet-and-desktop() {
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.05);
    }

    &.hero-img--about {
        background: url('images/hero.svg') no-repeat center center;
    }

    &.hero-img--work {
        background: url('images/hero-work.svg') no-repeat center center;
    }
}

// }}

.section {
    padding: 30px;
    font-size: 0.9rem;

    .section__container__title {
        margin-bottom: 20px;
        color: $blue-darken;
        font-size: 1.7rem;
    }
}

// {{ About me

.about-me {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    @include responsive-tablet() {
        flex-wrap: nowrap;
    }
}

.about-me__image, .about-me__content {
    flex: 0 1 100%;

    @include responsive-tablet() {
        flex: 1 1 auto;
    }
}

.about-me__image {
    img {
        max-width: 200px;
        margin: auto;
        border-radius: 50%;
    }
}

.about-me__content {
    margin-top: 20px;

    @include responsive-tablet() {
        margin-left: 25px;
        text-align: left;
    }
}

.btn--contact {
    background-color: $plain-color;
    border-radius: 0;

    .fa {
        margin-right: 5px;
    }
}

// }}

.separator {
    width: 20%;
    height: 2px;
    margin: 40px auto;
    background-color: #eee;
}
