.blog-title {
    font-weight: 700;
    margin-bottom: 10px;
}

.blog-summary, .blog-content {
    font-size: 18px;
}

.blog-content {
    .section__container__title {
        font-family: $theme-font-family, sans-serif;
    }
}

.blog-date {
    font-size: 14px;
    color: #888;
}

.box-thumb {
    &.box-thumb--blog {
        min-height: 200px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include media-breakpoint-up(md) {
            min-height: 340px;
        }
    }
}

.js-button--blog {
    cursor: pointer;
}

// .blog-flex {
//     &:after {
//         content: '';
//         flex: auto;
//     }
// }

.youtube-video {
    position: relative;
    overflow: hidden;
    padding-bottom: 67.25%;
    height: 0;
    margin-bottom: 30px;
}

.blog-item {
    flex: 100%;
    background-color: $blog-background;
    flex-direction: column;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: darken($blog-background, 10%);

        .box-thumb:before {
            background-color: $black;
            opacity: 0.35;
        }
    }

    &:first-child {
        flex: 100%;
    }

    @include media-breakpoint-up(xl) {
        flex: 0 1 49%;
        flex-direction: row;
    }

    .box-thumb, .box-content {
        width: 100%;

        @include media-breakpoint-up(xl) {
            width: 50%;
        }
    }
}

.pin-it {
    position: relative;

    a {
        position: absolute;
        top: 20px;
        left: 20px;
        height: 30px;
        width: 70px !important;
        background: none !important;
        background-position: center !important;
        background-size: cover !important;
        background-image: url('images/pin-it-btn.jpg') !important;
        text-indent: -9999 !important;
        z-index: 1;
        box-shadow: none;
    }
}

.pin-background {
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 0.5;
    }
}
