.IllustrationProject-wrapper {
    margin-top: 3rem;

    @include media-breakpoint-up(md) {
        margin-top: 5rem;
    }
}

.illustrationProject-item {
    flex: 100%;

    @include media-breakpoint-up(md) {
        flex: 0 1 calc(50% - 0.5rem);
    }

    @include media-breakpoint-up(xl) {
        flex: 0 1 calc(33% - 0.5rem);
    }
}

.box-thumb {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 250px;
}
