.project-title {
    font-size: 1.7rem;
}

.grid-wrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    &.grad-wrapper-no-gap {
        grid-gap: initial;
    }

    @include media-breakpoint-up(xl) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include media-breakpoint-up(md) {
        justify-items: center;
    }
}

.grid-item {
    @include media-breakpoint-only(md) {
        width: 50%;
    }
}

.masonry {
    column-count: 1;
    column-gap: 1em;

    @include media-breakpoint-up(sm) {
        column-count: 3;
    }

    &.masonry-2 {
        @include media-breakpoint-up(sm) {
            column-count: 2;
        }
    }

    figure {
        display: none;
        margin: 0 0 1em;
        vertical-align: top;
        width: 100%;

        &.show {
            display: inline-block;
        }
    }
}

.modal-dialog {
    max-width: 100%;
}

.modal-body {
    text-align: center;
}

.js-button--graphics {
    cursor: pointer;
}

.modal-content {
    margin: auto;
    border-radius: 0;
    background-color: transparent;
    border: none;

    @include media-breakpoint-up(md) {
        width: 80%;
    }
}

.js-modal-image {
    width: auto;
    max-width: 100%;
    max-height: 100vh;

    &.js-ui {
        width: 100%;
        max-height: none;
    }
}

.js-modal-content {
    width: 60%;
}

.js-modal-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(119, 119, 119, 0.75);
    color: white;
    padding: 10px 0;
    margin: auto;
}

.modal-header {
    border-bottom: none;
}

.close {
    text-shadow: none;
    opacity: 0.9;
    outline: none;

    .close__icon {
        width: 25px;
    }
}

.js-button--illustrations {
    cursor: pointer;
}

.picture-item {
    margin-top: 24px;

    img {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .picture-item {
        height: auto;
        margin-top: 20px;
    }
}

@supports (object-fit: cover) {
    .picture-item img {
        max-width: none;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.picture-item__inner {
    position: relative;
    overflow: hidden;
    background: #ecf0f1;

    img {
        height: auto;
    }
}

.picture-item__details {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    padding: 0.5em 1em;
    background: rgba(#4a4a4a, 0.75);
}

.box-thumb {
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        &:before {
            background-color: $black;
            opacity: 0.35;
        }

        .box-content {
            bottom: 0;
        }
    }

    .box-content {
        position: absolute;
        bottom: -300px;
        left: 0;
        right: 0;
        color: $plain-color;
        transition: bottom 0.4s ease-in-out;
        text-transform: capitalize;

        span {
            font-weight: 600;
        }
    }
}

.caseStudy-wrapper {
    @media screen and (min-width: 2200px) {
        width: 60%;
        margin: auto;
    }
}

.project-subtitle {
    font-weight: 700;
}

.item {
    .section__container__title {
        font-family: $theme-font-family;
    }
}
