.content--custom {
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: center;
	position: relative;
	will-change: transform;
}

.item {
	position: relative;
    padding-top: 80px;

    @include media-breakpoint-up(md) {
        padding-top: 100px;
    }
}

.js-button {
    position: relative;
	height: 300px;
	width: 100%;
	flex: none;
    margin: auto;
    cursor: pointer;

    @include media-breakpoint-up(md) {
        height: 500px;
    }
}

.item__img {
	background-size: cover;
	background-position: top left;
    width: 100%;
    height: 100%;
}

.item__content {
    margin: 0 auto;
    max-width: 100%;

    @include media-breakpoint-up(lg) {
        max-width: 75%;
    }

    @include large-desktop {
        max-width: 50%;
    }

	iframe {
		height: 50vw;

		@include large-desktop {
			height: 25vw;
	    }
	}
}

.open-gallery {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    background: rgba(119, 119, 119, 0.75);
    color: $white !important;

    &:hover {
        color: $white !important;
    }
}

.item__content-text {
    margin: 3vh auto 2rem;
}
