.content--custom {
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: center;
	position: relative;
	will-change: transform;
}

.item {
	position: relative;
    padding-top: 100px;
}

.js-button {
	height: 200px;
	width: 100%;
	flex: none;
    margin: auto;
    cursor: pointer;

    &:hover {

    }

    @include media-breakpoint-up(md) {
        height: 500px;
    }

    @include media-breakpoint-up(lg) {
        width: 50%;
    }
}

.item__img {
	background-size: cover;
	background-position: top left;
    width: 100%;
    height: 100%;
}

.item__content {
	padding: 0.5rem;
    margin: 1rem auto 0;
    max-width: 730px;
}

.item__content-text {
    margin: 3vh auto 2rem;
}
