.project-title {
    color: $blue-darken;
    font-size: 1.7rem;
}

.masonry {
    column-count: 2;
    column-gap: 1em;

    figure {
        display: none;
        margin: 0 0 1em;
        vertical-align: top;

        &.show {
            display: inline-block;
        }
    }
}

.modal-dialog {
    max-width: 100%;
}

.modal-content {
    border-radius: 0;
    background-color: transparent;
    border: none;
}

.js-modal-image {
    width: 100%;

    @include media-breakpoint-up(xl) {
        width: auto;
    }
}

.modal-header {
    border-bottom: none;
}

.close {
    text-shadow: none;
}

.picture-item__inner {
    position: relative;
    overflow: hidden;
    background: #ecf0f1;

    .js-button {
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            height: 100%;
            transition: background 0.15s linear;
        }

        &:hover {
            &:after {
                background: rgba(255, 255, 255, 0.4);
            }
        }
    }
}

.picture-item__details {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    padding: 0.5em 1em;
    background: rgba(#4a4a4a, 0.75);
}

.my-shuffle-container {
    display: none;
}
