<div class="main-header">
    <div class="hero-img hero-img--about"></div>
</div>

<div class="section text-center container">
    <div class="section__container">
        <h1 class="section__container__title text-center">
            <span class="section__container__title__span">About Me</span>
        </h1>

        <div class="about-me">
            <div class="about-me__image">
                <img src="public/assets/images/my-image.jpg" class="img-responsive" alt="Hristina Hristova image"/>
            </div>
            <div class="about-me__content">
                Hey there,
                <br/>
                My name is Hristina Hristova and I am currently working as a
                Web Designer & Front-End Developer in british company, based in Sofia, Bulgaria and studying
                a master degree of Illustration in New Bulgarian University.
                <br/>
                I have a passion for web design and love to create for web and mobile devices.
                I also enjoy crossing back and forth between UX, graphic design and front-end development.
                <br/>
                When away from the keyboard, most of the time I can be found at concerts,
                riding a bicycle, or snowboarding.
            </div>
        </div>

        <div class="separator"></div>

        <h1 class="section__container__title text-center">
            <span class="section__container__title__span">Get in touch</span>
        </h1>
        <div class="section__container__content">
            <a href="mailto:hristina.a.hristova@gmail.com" type="button" class="btn btn--contact">
                <i class="fa fa-envelope-o" aria-hidden="true"></i> Message Me
            </a>
        </div>
    </div>
</div>
