<div class="main-header">
    <div class="hero-img hero-img--about"></div>
</div>

<div class="section text-center container">
    <div class="section__container">
        <h1 class="section__container__title text-center">
            <span class="section__container__title__span">About Me</span>
        </h1>

        <div class="about-me">
            <div class="about-me__image">
                <img src="public/assets/images/hhristova-img.jpg" class="img-responsive"
                    alt="Hristina Hristova image"/>
            </div>
            <div class="about-me__content">
                Hey there,
                <br/>
                My name is Hristina Hristova. I am a web designer that creates
                wireframes for web apps and translate them to actual user-friendly
                interfaces that people can understand and interact with.
                <br>
                For 5 years, I have worked on design websites and experiences that
                simplify processes and optimize the use of different tools online.
                <br><br>
                During my day-to-day job I started more and more to sketch and draw
                illustrations and different graphic elements that can help the overall
                design concept. This is how I found my other passion - drawing.
                Because of it I am studying my second master degree of illustration in
                New Bulgarian University and I am eager to learn more in this field.
                <br><br>
                When away from the keyboard, I can be found at concerts,
                riding a bicycle, snowboarding with a noisy speaker, among the shelves
                of the bookstores or laughing out loud in the parks.
            </div>
        </div>

        <div class="separator"></div>

        <h1 class="section__container__title text-center">
            <span class="section__container__title__span">Get in touch</span>
        </h1>
        <div class="section__container__content">
            <a href="mailto:hristina.a.hristova@gmail.com" type="button" class="btn btn--contact">
                <i class="far fa-envelope" aria-hidden="true"></i> Message Me
            </a>
        </div>
    </div>
</div>
