<div class="main-header">
    <div class="hero-img hero-img--work"></div>
</div>

<div class="section text-center container">
    <div class="section__container">
        <p>
            Here's a selection of some of my recent work. <br>
            For more you can visit me on
            <a href="https://dribbble.com/HHristova" target="_blank">dribbble</a>,
            <a href="https://www.behance.net/hhristova" target="_blank">behance</a> or
            <a href="https://www.instagram.com/hhristova_/" target="_blank">instagram</a>.
        </p>

        <div class="container my-5">
            <div class="filters-group">
                <p class="filter-label mb-1">Filter:</p>
                <div class="btn-group" id="filter-options">
                    <button class="btn active" ng-click="filterSelection('all')">
                        All
                    </button>
                    <button class="btn" ng-click="filterSelection('webdesign')">
                        Web design
                    </button>
                    <button class="btn" ng-click="filterSelection('illustration')">
                        Illustration and lettering
                    </button>
                </div>
            </div>
        </div>

        <div class="masonry">
            <figure ng-repeat="project in projects" id="picture-item"
                class="picture-item picture-item--overlay show"
                data-groups='["{{project.filterId}}"]'>
                <div class="picture-item__inner">
                    <div class="js-button"
                        data-toggle="modal" data-target="#modalPicture" type="button"
                        value="Expand photo" role="button">
                        <img src="{{project.thumb}}" data-img="{{project.url}}"
                            alt="{{project.alt}}" />
                    </div>
                </div>
            </figure>
        </div>

        <div id="modalPicture" class="modal fade pr-0" tabindex="-1"
            role="dialog" aria-labelledby="modalPictureLabel" aria-hidden="true">
          <div class="modal-dialog m-0" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <img class="close__icon"
                    src="public/assets/images/close-icon.svg" alt="Close icon">
                  <span class="sr-only">Close</span>
                </button>
              </div>
              <div class="modal-body">
                <img class="js-modal-image" src="" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="separator"></div>

        <h1 class="section__container__title text-center">
            <span class="section__container__title__span">Get in touch</span>
        </h1>
        <div class="section__container__content">
            <a href="mailto:hristina.a.hristova@gmail.com" type="button" class="btn btn--contact">
                <i class="fa fa-envelope-o" aria-hidden="true"></i> Message Me
            </a>
        </div>
    </div>
</div>
