<div class="main-header">
    <div class="hero-img hero-img--work"></div>
</div>

<div class="section text-center container">
    <div class="section__container">
        <h1 class="section__container__title text-center">
            <span class="section__container__title__span">Work</span>
        </h1>

        <p>
            Here's a selection of some of my recent work. <br>
            For more you can visit me on
            <a href="https://dribbble.com/HHristova" target="_blank">dribbble</a>,
            <a href="https://www.behance.net/hhristova" target="_blank">behance</a> or
            <a href="https://www.instagram.com/hhristova_/" target="_blank">instagram</a>.
        </p>

        <div class="container my-5">
            <div class="row">
                <div class="col-12@sm filters-group-wrap">
                    <div class="filters-group">
                        <p class="filter-label">Filter:</p>
                        <div class="btn-group filter-options">
                            <button class="btn" data-group="webdesign">
                                Web Design
                            </button>
                            <button class="btn" data-group="illustration">
                                Illustration and lettering
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div id="grid" class="row my-shuffle-container">
                <figure class="col-3@xs col-8@sm col-6@md picture-item picture-item--overlay" data-groups='["webdesign"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/web-design/tenant-app-login.jpg"
                            target="_blank" rel="noopener" data-sub-html="Tenant app login page design">
                            <img style="height: auto;" src="public/assets/images/myWork/web-design/tenant-app-login.jpg"
                                alt="Tenant app login page design" />
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-6@md picture-item picture-item--overlay" data-groups='["webdesign"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/web-design/eqology-website-concept-v1.jpg"
                            target="_blank" rel="noopener" data-sub-html="Website concept for scandinavian company">
                            <div class="aspect" style="padding-bottom: 185%;">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/web-design/eqology-website-concept-v1.jpg"
                                        alt="Website concept for scandinavian company" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-6@md picture-item picture-item--overlay picture-item--h2" data-groups='["illustration"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/illustrations/lettering-1.jpg"
                            target="_blank" rel="noopener" data-sub-html="Hand-lettering design">
                            <div class="aspect">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/illustrations/lettering-1.jpg"
                                        alt="Hand-lettering design" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-6@md picture-item picture-item--overlay picture-item--h2" data-groups='["webdesign"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/web-design/gotenant-landing-page-design.jpg"
                            target="_blank" rel="noopener" data-sub-html="Landing page design of Go Tenant platform for house renting in UK">
                            <div class="aspect" style="padding-bottom: 185%;">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/web-design/gotenant-landing-page-design.jpg"
                                        alt="Landing page design of Go Tenant platform for house renting in UK" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-6@xs col-8@sm col-6@md picture-item picture-item--overlay" data-groups='["webdesign"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/web-design/gotenant-features-page-design.jpg"
                            target="_blank" rel="noopener" data-sub-html="Features page design">
                            <img style="height: auto;" src="public/assets/images/myWork/web-design/gotenant-features-page-design.jpg"
                                alt="Features page design" />
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--overlay" data-groups='["webdesign"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/web-design/eqology-website-concept-v2.jpg"
                            target="_blank" rel="noopener" data-sub-html="Website concept for scandinavian company">
                            <div class="aspect" style="padding-bottom: 185%;">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/web-design/eqology-website-concept-v2.jpg"
                                        alt="Website concept for scandinavian company" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--overlay" data-groups='["illustration"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/illustrations/lettering-2.jpg"
                            target="_blank" rel="noopener" data-sub-html="Hand-lettering idea">
                            <div class="aspect">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/illustrations/lettering-2.jpg"
                                        alt="Hand-lettering idea" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--overlay" data-groups='["illustration"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/illustrations/lettering-4.jpg"
                            target="_blank" rel="noopener" data-sub-html="Hand-lettering design">
                            <div class="aspect">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/illustrations/lettering-4.jpg"
                                        alt="Hand-lettering design" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--overlay" data-groups='["illustration"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/illustrations/illustration-balloons.jpg"
                            target="_blank" rel="noopener" data-sub-html="Flying balloons illustration based on a real image">
                            <div class="aspect">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/illustrations/illustration-balloons.jpg"
                                        alt="Flying balloons illustration based on a real image" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--overlay" data-groups='["illustration"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/illustrations/lettering-17.jpg"
                            target="_blank" rel="noopener" data-sub-html="Spring inspired hand-lettered J">
                            <div class="aspect">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/illustrations/lettering-17.jpg"
                                        alt="Spring inspired hand-lettered J" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-6@xs col-8@sm col-6@md picture-item picture-item--overlay picture-item--h2" data-groups='["illustration"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/illustrations/lettering-15.jpg"
                            target="_blank" rel="noopener" data-sub-html="Hello April hand-lettering">
                            <div class="aspect">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/illustrations/lettering-15.jpg"
                                        alt="Hello April hand-lettering" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-6@md picture-item picture-item--overlay picture-item--h2" data-groups='["webdesign"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/web-design/psp-webtech-site-design.jpg"
                            target="_blank" rel="noopener" data-sub-html="Website design of PSP Webtech company">
                            <div class="aspect" style="padding-bottom: 185%;">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/web-design/psp-webtech-site-design.jpg"
                                    alt="Website design of PSP Webtech company" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--overlay" data-groups='["illustration"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/illustrations/christmas-party-PSP.jpg"
                            target="_blank" rel="noopener" data-sub-html="Company christmas party poster design">
                            <div class="aspect" style="padding-bottom: 140%;">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/illustrations/christmas-party-PSP.jpg"
                                        alt="Christmas party poster design" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--overlay" data-groups='["illustration"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/illustrations/lettering-7.jpg"
                            target="_blank" rel="noopener" data-sub-html="Hand-lettering idea">
                            <div class="aspect">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/illustrations/lettering-7.jpg"
                                        alt="Hand-lettering idea" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--overlay" data-groups='["illustration"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/illustrations/lettering-14.jpg"
                            target="_blank" rel="noopener" data-sub-html="Hand-lettered H">
                            <div class="aspect">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/illustrations/lettering-14.jpg"
                                        alt="Hand-lettered H" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--overlay" data-groups='["illustration"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/illustrations/lettering-3.jpg" target="_blank"
                            rel="noopener" data-sub-html="Hand-lettering idea">
                            <div class="aspect">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/illustrations/lettering-3.jpg"
                                        alt="Hand-lettering idea" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--overlay" data-groups='["illustration"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/illustrations/lettering-16.jpg"
                            target="_blank" rel="noopener" data-sub-html="Birthday card design">
                            <div class="aspect">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/illustrations/lettering-16.jpg"
                                        alt="Birthday card design" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-6@md picture-item picture-item--overlay" data-groups='["webdesign"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/web-design/GoTenant-project.jpg"
                            target="_blank" rel="noopener" data-sub-html="Website dashboard design">
                            <div class="aspect aspect--16x9" style="padding-bottom: 120%;">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/web-design/GoTenant-project.jpg"
                                        alt="Website dashboard design" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-8@sm col-6@md picture-item picture-item--overlay" data-groups='["illustration"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/illustrations/spring-illustration.jpg"
                            target="_blank" rel="noopener" data-sub-html="Spring illustration">
                            <img style="height: auto;" src="public/assets/images/myWork/illustrations/spring-illustration.jpg"
                                alt="Spring illustration" />
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-6@md picture-item picture-item--overlay" data-groups='["webdesign"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/web-design/WhatsOn-app-design.png"
                            target="_blank" rel="noopener" data-sub-html="Web application design">
                            <div class="aspect aspect--16x9">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/web-design/WhatsOn-app-design.png"
                                        alt="Web application design" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-6@md picture-item picture-item--overlay picture-item--h2" data-groups='["webdesign"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/web-design/personal-website-design-frontend.jpg"
                            target="_blank" rel="noopener" data-sub-html="Personal website front end design">
                            <div class="aspect" style="padding-bottom: 185%;">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/web-design/personal-website-design-frontend.jpg"
                                        alt="Personal website front end design" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--overlay picture-item--h2" data-groups='["webdesign"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/web-design/rentsuccess-website-concept.jpg"
                            target="_blank" rel="noopener" data-sub-html="Property management platform landing page design concept">
                            <div class="aspect" style="padding-bottom: 185%;">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/web-design/rentsuccess-website-concept.jpg"
                                        alt="Property management platform landing page design concept" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--overlay picture-item--h2" data-groups='["webdesign"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/web-design/subscription-mockup-v2.jpg"
                            target="_blank" rel="noopener" data-sub-html="Subscription page design">
                            <div class="aspect" style="padding-bottom: 185%;">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/web-design/subscription-mockup-v2.jpg"
                                        alt="Subscription page design" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--overlay picture-item--h2" data-groups='["illustration"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/illustrations/galaxy.jpg" target="_blank" rel="noopener"
                             data-sub-html="Simplified galaxy illustration">
                            <div class="aspect" style="padding-bottom: 185%;">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/illustrations/galaxy.jpg"
                                        alt="Simplified galaxy illustration" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-6@md picture-item picture-item--overlay picture-item--h2" data-groups='["illustration"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/illustrations/rock-poster-design.jpg"
                            target="_blank" rel="noopener" data-sub-html="Christmas rock poster design concept">
                            <div class="aspect" style="padding-bottom: 90%;">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/illustrations/rock-poster-design.jpg"
                                        alt="Christmas rock poster design concept" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--overlay" data-groups='["illustration"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/illustrations/lettering-9.jpg"
                            target="_blank" rel="noopener" data-sub-html="Valentine card design concept">
                            <div class="aspect">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/illustrations/lettering-9.jpg"
                                        alt="Valentine card design concept" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--overlay" data-groups='["illustration"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/illustrations/lettering-6.jpg"
                            target="_blank" rel="noopener" data-sub-html="Hand-lettering design">
                            <div class="aspect">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/illustrations/lettering-6.jpg"
                                        alt="Hand-lettering design" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-6@md picture-item picture-item--overlay picture-item--h2" data-groups='["illustration"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/illustrations/lettering-13.jpg"
                            target="_blank" rel="noopener" data-sub-html="Hand-lettered word 'Evening'">
                            <div class="aspect" style="padding-bottom: 90%;">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/illustrations/lettering-13.jpg"
                                        alt="Hand-lettered word 'Evening'" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>
                <figure class="col-3@xs col-4@sm col-6@md picture-item picture-item--overlay picture-item--h2" data-groups='["illustration"]'>
                    <div class="picture-item__inner">
                        <a href="public/assets/images/myWork/illustrations/lettering-12.jpg"
                            target="_blank" rel="noopener" data-sub-html="Hand-lettered chocolate design">
                            <div class="aspect" style="padding-bottom: 90%;">
                                <div class="aspect__inner">
                                    <img src="public/assets/images/myWork/illustrations/lettering-12.jpg"
                                        alt="Hand-lettered chocolate design" />
                                </div>
                            </div>
                        </a>
                    </div>
                </figure>

                <div class="col-1@sm col-1@xs my-sizer-element"></div>

            </div>
        </div>

        <div class="separator"></div>

        <h1 class="section__container__title text-center">
            <span class="section__container__title__span">Get in touch</span>
        </h1>
        <div class="section__container__content">
            <a href="mailto:hristina.a.hristova@gmail.com" type="button" class="btn btn--contact">
                <i class="fa fa-envelope-o" aria-hidden="true"></i> Message Me
            </a>
        </div>
    </div>
</div>
